#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Kalorite
GenericName=Kalorite
Comment=Lightweight KDE Audio player
Icon=com.monsler.Kalorite
Keywords=player;sound;audio;kalorite
Categories=Audio;Utility;Music
Terminal=false
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=kalorite --file-forwarding com.monsler.kalorite
